<%- include('partials/header') %>
<link rel="stylesheet" href="/styles.css">
<% for(let i=0;i<newlist.length;i++){ %>
    <h4><%= newlist[i].Name %></h4><br>
<form id="form2">
    <div class="box1">
          
    <label for="fname"><b>First name:</b>    <%= newlist[i].Name %></label><br>
    <label for="lname"><b>Mobile:</b>     <%= newlist[i].Mobile %></label><br>
    <label for="fname"><b>Date:</b>    <%= newlist[i].Date %></label><br>
    <label for="lname"><b>Address:</b>     <%= newlist[i].Address %></label><br>
    </div>
    <div style="overflow-x:auto;">      
        <table class="table">
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                <%= newlist[i].Right_SPH %>
              </td>
              <td>
                  <%= newlist[i].Right_CYL %>
              </td>
              <td>
                  <%= newlist[i].Right_AXIS %>
              </td>
              <td>
                  <%= newlist[i].Right_ADD %>
              </td>
              <td>
                  <%= newlist[i].Right_VISION %>
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <%= newlist[i].Left_SPH %>
              </td>
              <td>
                  <%= newlist[i].Left_CYL %>
              </td>
              <td>
                  <%= newlist[i].Left_Axis %>
              </td>
              <td>
                  <%= newlist[i].Left_ADD %>
              </td>
              <td>
                  <%= newlist[i].Left_VISION %>
              </td>
          </tr>
              
          
      </table>
      </div>
      
      <div style="overflow-x:auto;" class="form2table">
      
      <table class="table">
          <tr>
              
              <th>S. No.</th>
              <th>Items</th>
              <th>Items Description</th>
              <th>Qty.</th>
              <th>Total</th>
          </tr>
          <tr>
              <td>
                  1
              </td>
              <td>
                  <%= newlist[i].Items %>
              </td>
              <td>
                  <%= newlist[i].Description %>
              </td>
              <td>
                  <%= newlist[i].Qty %>
              </td>
              <td>
                  <%= newlist[i].Total %>
              </td>
          </tr>      
          
      </table>   
      
    <a href="/delete/<%=newlist[i].Mobile %>/<%=newlist[i].Name %>">Delete</a>
      
      </div>   
      <% } %>
  </form>
  