<%- include('partials/header') %>
<% for(let i=0;i<newlist.length;i++){ %>
<link rel="stylesheet" href="styles.css">
<form id="form2">
    <div class="box1">
          
    <label for="fname"><b>First name:</b>    <%= newlist[i].Name %></label><br>
    <label for="lname"><b>Mobile:</b>     <%= newlist[i].Mobile %></label><br>
    <label for="fname"><b>Date:</b>    <%= newlist[i].Date %></label><br>
    <label for="lname"><b>Address:</b>     <%= newlist[i].Address %></label><br>
    </div>
    <div style="overflow-x:auto;">      
        <table class="table">
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                  <input type="text" name="Right_SPH" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
              
          
      </table>
      </div>
      
      <div style="overflow-x:auto;">
      
      <table class="table">
          <tr>
              
              <th>S. No.</th>
              <th>Items</th>
              <th>Items Description</th>
              <th>Qty.</th>
              <th>Total</th>
          </tr>a
          <tr>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>      
          
      </table>
      </div>
     
      
      <% } %>
  </form>